body, html {
	margin: 0;
	padding: 0;
	font-family: helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-family: "Myriad Pro", sans-serif;
}
.clear {height: 1px; clear: left;}
svg {display: none;}
strong {font-weight: bold;}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1 {
	color: #333; /* text color */
	font-size: 30px;
	margin: 0;
}
h2 {
	color: #494949; /* text color */
	font-size: 22px;
	font-weight: bold;
}
h3 {
	color: #5D6868; /* text color */
	font-size: 36px;
	font-weight: bold;
	letter-spacing: -0.03em;
	margin: 0;
	padding-bottom: 10px;
}
h4 {
	color: #494949;
	font-size: 18px;
	font-weight: normal;
	margin: 10px 0 5px 0;
}
h5 {
	color: #494949;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
h6 {
	color: #5D6868;
	font-family: 'Crete Round', serif;
	font-size: 42px;
	font-variant: small-caps;
	font-weight: 200;
	margin: 0 0 10px 0;
}
p {
	color: #5D6868; /* text color */
	font-size: 14px;
	margin: 10px 0 5px 0;
}
a {
	color: #3f91d1; /* text color */
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}
button {
	padding: 5px 10px;
	border: 1px solid #033d6b; /* stroke */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #3f91d1; /* layer fill content */
	-moz-box-shadow: inset 0 1px 3px rgba(255,255,255,.3); /* inner shadow */
	-webkit-box-shadow: inset 0 1px 3px rgba(255,255,255,.3); /* inner shadow */
	box-shadow: inset 0 1px 3px rgba(255,255,255,.3); /* inner shadow */
	background: -moz-linear-gradient(bottom, rgba(34, 103, 183, 1.0) 0%, rgba(141, 197, 232, 1.0) 100%); /* gradient overlay */
	background: -o-linear-gradient(bottom, rgba(34, 103, 183, 1.0) 0%, rgba(141, 197, 232, 1.0) 100%); /* gradient overlay */
	background: -webkit-linear-gradient(bottom, rgba(34, 103, 183, 1.0) 0%, rgba(141, 197, 232, 1.0) 100%); /* gradient overlay */
	background: linear-gradient(bottom, rgba(34, 103, 183, 1.0) 0%, rgba(141, 197, 232, 1.0) 100%); /* gradient overlay */
	color: #fff; /* text color */
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(8,8,8,.3); /* drop shadow */
}
button:hover {
	background: #3f91d1;
}
button:active {
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
	background: #3f91d1;
}
#container {
	width: 1020px;
	margin: 0 auto;
	position: relative;
}
#inner-contain {
	width: 1020px;
	position: relative;
	background: #C1CFCE;
	box-shadow: inset 0px 0px 0px 1px #556270;
	margin: 80px 0 40px 0;
	padding-bottom: 30px;
}
#header {
	width: 100%;
	height: 240px;
	background-image: url('images/forest.jpg');
	background-position: 0 0;
	position: relative;
}
#header img {
	display: block;
	position: absolute;
	top: 20px;
	left: 360px;
}
#header span {
	z-index: 2;
	width: 100%;
	text-align: center;
	font-family: serif;
	font-style: italic;
	font-size: 18px;
	font-weight: 600;
	text-shadow: 0px 2px 10px black;
	color: white;
	margin: 0px auto;
	bottom: 40px;
	position: absolute;
}
header {
	height: 30px;
	width: 1018px;
	position: fixed;
	z-index: 99;
	background: rgba(0,0,0,0.75);
	border-bottom: 1px solid rgba(0,0,0,0.5);
	border-left: 1px solid rgba(0,0,0,0.5);
	border-right: 1px solid rgba(0,0,0,0.5);
	box-shadow: inset 0px -1px 0px rgba(255,255,255,0.5);
}
nav {
	float: left;
	z-index: 100;
	position: relative;
}
nav a {
	font-style: normal;
	font-size: 14px;
	font-weight: normal;
	display: block;
	padding: 5px 10px;
	line-height: 20px;
	white-space: nowrap;
}
nav a:hover {background: rgba(0,0,0,0.3);}
nav ul {
	float: left;
	padding-left: 300px;
	position: relative;
}
nav > ul > li {
	display: block;
	float: left;
	margin: 0;
	background-position-y: -240px;
	background-position-x: 0;
	height: 30px;
	position: relative;
}
nav > ul > li:hover a {
	color: white;
	text-shadow: 0px 1px 6px black;
}
nav li:hover ul {
	display: block;
}
nav .selected {
	background-image: url('images/forest_2.jpg');
}
nav .selected a {
	color: white;
	text-shadow: 0px 1px 6px black;
}
.dropdown {
	padding: 0;
	position: absolute;
	top: 30px;
	left: 0;
	display: none;
	background-position-y: -270px;
}
.dropdown li {
	display: block;
	color: white;
	text-shadow: 0px 1px 6px black;
}
.normalNav a {color: #333;}
.normalNav > ul > li:hover, .normalNav .selected, .normalNav .dropdown {background-image: url('images/forest_2.jpg');}

.fixedNav a {color: white;}
.fixedNav > ul > li:hover, .fixedNav .selected, .fixedNav .dropdown {background: rgba(0,0,0,0.8);}

.mini-logo {
	height: 80px;
	width: 190px;
	position: absolute;
	top: -85px;
	left: 20px;
	z-index: 100;
	background: url('images/mini-logo-2.png');
	background-size: cover;
}

#iam {
	float: left;
	height: 30px;
	width: 80px;
	opacity: 1;
	color: white;
	overflow: hidden;
	z-index: 101;
}
#iam:hover {
	width: 300px;
	opacity: 1;
}
#iam span {
	font-size: 12px;
	float: left;
	padding: 8px;
	cursor: pointer;
}
#iam ul {
	list-style: none;
	padding-left: 8px;
	padding-top: 5px;
	margin: 0;
	float: left;
}
#iam li {
	padding: 0px 4px;
	display: inline;
}
#iam a {
	font-size: 12px;
	padding: 5px 0px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}
input[type=search] {
	z-index: 102;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 12px;
	float: right;
	background: url('images/search.png');
	background-repeat: no-repeat;
	background-position: 8px center;
	padding: 5px 10px 5px 10px;
	width: 15px;
	height: 20px;
	border: none;
	color: transparent;
	cursor: pointer;
	opacity: 1;
	text-indent: 20px;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}
input[type=search]:hover {
	opacity: 1;
}
input[type=search]:focus {
	width: 130px;
	padding-left: 10px;
	border-color: #fff;
	outline: none;
	color: #fff;
	cursor: auto;
}
.breadcrumbs {
	width: 1020px;
	box-shadow: inset 0px 0px 0px 1px darkgray;
	margin: 60px 0 0 0;
	height: 40px;
}
.breadcrumbs ul {}
.breadcrumbs li {float: left; height: 20px; padding: 10px 20px; position: relative;}
.breadcrumbs .right-pointer {
	position: absolute;
	top: 4px;
	right: -20px;
	transform: scale(.3,1);
	-ms-transform: scale(.3,1); /* IE 9 */
	-webkit-transform: scale(.3,1); /* Safari and Chrome */
	color: white;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 4px 0px 0px darkgrey;
}
.breadcrumbs a {color: #484848; font-size: 18px; font-style: normal; }
.breadcrumbs a:hover {color: #333; }
.breadcrumbs p {margin: 5px;}
#cta {
	width: 1020px;
	height: 420px;
	margin-top: 80px;
	background: grey;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 0px 1px rgba(255,255,255,0.5);
	position: relative;
}
#cta-slider {
	width: 100%;
	height: 100%;
	position: relative;
}
.cta-box-container {
	position: absolute;
	left: 40px;
	bottom: 40px;
	width: 470px;
	height: 140px;
	overflow: hidden;
}
.blur-img {
	background-position: -40px -240px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.cta-box {
	width: 450px;
	height: 120px;
	padding: 5px 10px 15px 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.75);
	z-index: 10;
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.3);
}
.cta-box p {color: #646464; margin: 0; height: 80px}
.cta-box a {position: absolute; bottom: 6px; right: 10px;}
.flex-viewport li {
	background-size: cover;
	background-repeat: no-repeat;
	height: 420px;
	position: relative;
}
#quotes {
	width: 300px;
	height: 270px;
	background: #f8f8f8;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	z-index: 10;
	position: absolute;
	right: 40px;
	top: 20px;
}
#quotes li {height: 270px; background: #f8f8f8;}
#quotes h4 {margin: 20px;}
.quote-person {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
	text-align: right;
}
#news-letter {
	width: 300px;
	height: 90px;
	z-index: 10;
	background: #f8f8f8;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	background-image: url('images/mail.png');
	background-repeat: no-repeat;
	background-position: 10px 15px;
	position: absolute;
	right: 40px;
	bottom: 20px;
}
#news-letter input {
	height: 30px;
	width: 220px;
	font-size: 14px;
	border-radius: 3px;
	margin: 10px;
	border: 1px solid rgba(214, 212, 212, 1.0);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.6);
	text-indent: 10px;
}
#news-letter h4 {margin: 12px 0 0 40px;}
#news-letter input:focus {
	outline: none;
}
.grid960 {width: 960px; margin: 0px auto; padding: 20px 0 0 0;}
.grid620 {width: 620px; margin: 10px; float: left;}
.grid300 {width: 300px; margin: 10px; float: left;}
.grid480 {width: 460px; padding: 10px; float: left;}
.grid240 {width: 220px; padding: 10px; float: left;}

.layers-img, .layers-img img {position: absolute; width: 480px; height: 220px;}
.layers-img {right: 1px; top: 1px; overflow: hidden;}
.layers-img img {right: 0; top: 0;}
.layers-img .layer1, .layers-img .finish-layers {opacity: 0;}

.wood-layers-details {position: absolute; bottom: 0; left: 0; width: 200px;}
.wood-layers-details p, .wood-layers-details h4, .filter-layers-details p, .filter-layers-details h4 {color: white; margin: 0px; text-shadow: 0px 0px 5px rgba(0,0,0,0.5);}
.filter-layers-details {position: absolute; right: 0; top: 0; padding: 100px 20px 0 0; width: 200px; background-image: url('images/finish-layer-arrow.png'); background-position: 20px 75px; background-repeat: no-repeat; background-size: 55px 30px; text-align: right; z-index: 5;}

.grid-container {width: 100%; height: 100%; float: left;}
.feature {
	float: left;
	width: 260px;
	margin: 50px 10px;
	padding: 20px
}
.feature p {max-height: 180px;}
.feature h3 {border-bottom: 1px solid #d4d2d2;}
.latest-news {
	background: #f8f8f8;
	box-shadow: 0px 0px 0px 1px #b3b3b3;
}
.latest-news p {max-height: 60px;}
.latest-news h4 {line-height: 20px;}
.news-img {
	width: 60px;
	height: 60px;
	margin-right: 20px;
	background: gray;
	float: left;
}
footer {
	box-shadow: inset 0px 12px 10px -10px rgba(0,0,0,0.5);
	width: 100%;
	background: #556270;
	float: left;
	clear: left;
	padding-bottom: 20px;
}
footer .clear {background: rgba(174, 174, 174, 1.0);}
footer p, footer h4 {color: white;}
.footer-item {
	float: left;
	width: 200px;
	padding: 10px;
	margin: 0 10px;
}
.social-links {margin-top: 10px;}
.social-links li {margin-right: 20px; width: 32px; height: 32px; float: left;}
.social-links a {width: 32px; height: 32px; opacity: .6; display: block;}
.social-links a:hover {opacity: 1;}
.social-links a[name=facebook] {background-image: url('images/facebook-w.png');}
.social-links a[name=twitter] {background-image: url('images/twitter-w.png');}
.social-links a[name=youtube] {background-image: url('images/youtube-w.png');}
.site-map {
	float: left;
	width: 140px;
	margin: 10px;
}
.site-map li {height: 14px;}
.site-map a {color: #eaeaea; font-weight: normal; font-style: normal; text-decoration: none;}
.site-map a:hover {color: white}

.product-cta {
	height: 350px;
	width: 100%;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
	margin-bottom: 20px;
	position: relative;
}
#product-slider {position: relative; height: 100%; overflow: hidden;}
.brand-logo {
	position: absolute;
	bottom: 0;
	right: 10px;
	opacity: .95;
}
.subbox {
	box-shadow: inset 0px 0px 0px 1px #ebebeb;
	background: #fff;
}
.subbox.grid480 {padding: 0; margin-top: 10px; width: 480px;}

.product-info-h {margin: 20px 20px 10px 20px; clear: left;}
.product-info-p {margin: 0 20px 10px 40px;}
.spec-table {margin: 0 20px 10px 40px;}
.spec-table p {margin: 0 20px 0 0; line-height: 14px;}
.product-options {float: left; margin-left: 40px; width: 500px;}
.product-options li {float: left; width: 70px; margin: 0 10px 10px 10px;}
.product-options img {margin: 0px auto; display: block;}
.product-options p {text-align: center; font-size: 12px;}

.warranty-info {float: left;}
.warranty-info li {
	float: left;
	margin-bottom: 20px;
	position: relative;
	width: 185px;
	height: 50px;
}
.warranty-y {
	width: 45px;
	height: 45px;
	border-radius: 25px;
	border: 1px solid #1E3930;
	box-shadow: 0px 0px 4px 1px white;
	text-align: center;
	margin: 0 20px 0 40px;
	position: absolute;
	left: 0;
	z-index: 2;
	background: -moz-linear-gradient(bottom, #61B99C 0%, #67C6A5 100%); /* gradient overlay */
	background: -o-linear-gradient(bottom, #61B99C 0%, #67C6A5 100%); /* gradient overlay */
	background: -webkit-linear-gradient(bottom, #61B99C 0%, #67C6A5 100%); /* gradient overlay */
	background: linear-gradient(bottom, #61B99C 0%, #67C6A5 100%); /* gradient overlay */	
}
.warranty-y h2 {color: white; margin: 7px 0 0 0; line-height: 18px; text-shadow: 0px -1px 0px rgba(0,0,0,0.5);}
.warranty-y p {color: white; margin: 0; font-size: 10px; font-weight: bold; text-shadow: 0px -1px 0px rgba(0,0,0,0.5);}
.warranty-d {
	width: 100px;
	height: 30px;
	padding-left: 20px;
	border: 1px solid #b7b7b7;
	box-shadow: inset 0px 1px 2px white;
	border-radius: 3px;
	background: #f9f9f9;
	text-align: center;
	margin: 9px 0;
	position: absolute;
	right: 0;
}
.warranty-d p {line-height: 14px; margin: 8px 0 0 0; color: #333;}
.export {
	width: 160px;
	height: 30px;
	position: absolute;
	top: 40px;
	right: 40px;
}
.export li {float: left; width: 30px; margin-left: 20px;}
.export a {opacity: .6; width: 30px; height: 30px; display: block; background-position: center center; background-repeat: no-repeat; position: relative;}
/*
.export a span {
	display: none;
	z-index: 4;
	padding: 5px 10px;
	position: absolute;
	top: -50px;
	left: -100%;
	background: -webkit-linear-gradient(#eaeaea 0%, #f0f0f0 100%);
	border-radius: 3px;
	border: 1px solid #aeaeae;
}
*/
.export a span {
	position: absolute;
	background: #eaeaea;
	border-radius: 3px;
	border: 1px solid #aeaeae;
	display: none;
	z-index: 4;
	padding: 5px 10px;
	top: -45px;
	right: -40px;
}
.export a span:after, .export a span:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.export a span:after {
	border-color: rgba(174, 174, 10, 0);
	border-top-color: #eaeaea;
	border-width: 14px;
	right: 40px;
	margin-left: -14px;
}
.export a span:before {
	border-color: rgba(174, 174, 174, 0);
	border-top-color: #aeaeae;
	border-width: 15px;
	right: 39px;
	margin-left: -15px;
}
.export p {text-align: center; white-space: nowrap; margin: 0;}
.export a:hover {opacity: 1;}
.export a:hover span {
	display: block;
}
.share-icon-b {background-image: url('images/share.png');}
.compare-icon-b {background-image: url('images/compare.png');}
.print-icon-b {background-image: url('images/print.png');}

.suggest {text-align: center; }
.suggest h2 {margin: 20px;}
.suggest h5 {margin: 10px 20px; padding-bottom: 10px; border-bottom: 1px solid #d6d4d4;}
.suggest ul {float: left;}
.suggest li {float: left; width: 130px; margin: 0 10px 20px 10px;}
.suggest a {font-style: normal; }
.suggest p {margin: 5px 0 0 0; line-height: 12px;}
.suggest span {font-size: 12px; font-style: italic; font-weight: 200px;}
.suggest img {
	opacity: .75;
	transition:All .5s ease;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
	transform:  scale(0.9) translate(0px);
	-webkit-transform: scale(0.9) translate(0px);
	-moz-transform: scale(0.9) translate(0px);
	-o-transform: scale(0.9) translate(0px);
	-ms-transform: scale(0.9) translate(0px);
}
.suggest img:hover {
	opacity: 1;
	transform: scale(1) translate(0px);
	-webkit-transform: scale(1) translate(0px);
	-moz-transform: scale(1) translate(0px);
	-o-transform: scale(1) translate(0px);
	-ms-transform: scale(1) translate(0px);
}
.compare-page {
	padding-bottom: 0;
}
#inner-contain.compare-page {
	padding: 0;
	box-shadow: 0px 0px 0px 1px #b3b3b3;
}
/*
#inner-contain.compare4 .compare-table td {width: 168px;}
#inner-contain.compare3 .compare-table td {width: 225px;}
#inner-contain.compare2 .compare-table td {width: 338px;}
*/
#compare-contain {
	width: 680px;
	float: left;
}
.compare-table {
	width: 680px;
	border-collapse: separate;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
}
.compare-images {height: 260px; text-align: center; position: relative;}
.compare-images h2 {font-weight: 100; color: white; text-shadow: 0px 1px 4px rgba(0,0,0,0.5); margin: 200px 0 0 0;}
.compare-images p {font-style: italic; color: white; margin: 0;}
.compare-row td {
	box-shadow: inset -1px 0px 0px #e8e8e8, inset 1px 0px 0px #ffffff;
	vertical-align: top;
	width: 25%;
}
.compare-table .odd {background: #f0f0f0;}
.compare-table .even {background: #ffffff;}
.compare-table .con {padding: 40px 10px 10px 10px; position: relative; float: left;}
.compare-table .con p {line-height: 16px;}
.compare-table .con .warranty-y {margin-left: 0px;}
.compare-table .con .warranty-info li {width: 140px; margin: 10px 4px;}
.compare-table h4 {
	width: 640px;
	position: absolute;
	border-bottom: 1px dotted #9b9b9b;
	top: 0;
	left: 15px;
	padding-bottom: 4px;
}
.compare-options {float: left; margin-top: 10px;}
.compare-options li {width: 70px; height: 70px; float: left; text-align: center; margin: 0px 0px;}
.compare-options p {font-size: 12px; margin: 0;}
.compare-suggest {
	padding: 20px;
	float: left;
	width: 300px;
	background: white;
}

.gallery-view {
	width: 1020px;
	margin: 60px auto;
}
.gallery-view > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.gallery-view > ul > li {
	margin: 0;
	padding: 0;
	float: left;
	width: 255px;
	height: 300px;
	overflow: visible;
}
.box {
	width: 255px;
	height: 300px;
	position: relative;
	background: whitesmoke;
	background-position: 0 0;
	background-repeat: no-repeat;
	box-shadow: inset 0px 0px 0px 20px rgba(255,255,255,1);
	cursor: pointer;
	overflow: hidden;
	border: 0px solid #aaa;
	float: left;
}
li:nth-child(4n) .box {float: right;}
.gallery-view .label {
	position: absolute;
	width: 255px;
	height: 150px;
	top: 240px;
	padding-bottom: 20px;
	background: rgba(255,255,255,0.8);
	text-align: center;
	overflow: hidden;
}
.gallery-view .details {
	position: absolute;
	width: 510px;
	top: 300px;
	height: 240px;
	background: white;
}
.gallery-view .options {
	float: left;
	margin: 10px 0;
	border-right: 1px solid #eee;
	width: 220px;
	padding: 10px 10px 0px 10px;
}
.gallery-view .about {
	padding: 0px 10px 10px 10px;
	width: 490px;
	height: 230px;
	right: 0;
	position: absolute;
	overflow: scroll;
}
.gallery-view .specs {
	list-style: none;
	margin: 0 10px;
	opacity: 0;
	padding: 15px 0;
	border-top: 1px solid white;
	width: 225px;
	float: left;
}
.gallery-view .specs li {
	margin: 0;
	padding: 0 0 3px 0;
	float: left;
	font-size: 12px;
	color: #333;
	width: 100px;
}
.gallery-view .specs .s-title {
	text-align: right;
}
.gallery-view .specs .s-detail {
	text-align: left;
	margin-left: 10px;
}
.gallery-view .view-nav {
	position: absolute;
	left: 265px;
	top: 230px;
	width: 80px;
}
.gallery-view .view-nav a {
	font-size: 14px;
	color: white;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.8);
	cursor: pointer;
	margin-bottom: 5px;
	font-weight: normal;
}
.gallery-view a:hover, .gallery-view a.select {font-weight: bold;}
.gallery-view .features {margin: 0 0 0 20px;}
.gallery-view .icons {position: absolute; left: 420px; top: 0;}
.gallery-view .icons ul {
	list-style: none;
	width: 68px;
	padding: 5px;
	margin: 5px;
	float: right;
}
.gallery-view .icons li {
	display: inline;
	float: right;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	cursor: pointer;
	opacity: .6;
}
.gallery-view .icons li:first-child{margin-right: 0px;}
.gallery-view .icons li:hover {opacity: .95;}
.gallery-view .compare-icon {background: url('images/compare-w.png');}
.gallery-view .heart-icon {background: url('images/heart.png');}
.gallery-view .share-icon {background: url('images/share-w.png');}
.gallery-view .star-icon {background: url('images/star.png');}
.gallery-view .pages-icon {background: url('images/pages-w.png');}

